body{
    font-size: 123;
    color: red;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #ddd;
    /* 你好Hello啊 */
}
h1{
    width: 500px;
    font-size: 80px;
    height: 400px; 
    color:red;
     background-color: #ddd;
    /* 你好Hello啊 */
    /* 我改的s */
}
  
 

